# PS4 SDK DLLs — obtain yourself, not redistributed
libSceGpuAddress.dll
libSceGnm.dll

# Game data files
*.fat
*.dat
*.xbt
*.dds
*.gnf
*.png
*.ffd

# Extracted output
out/
__pycache__/
*.pyc
*.pyo

# Temp
*.tmp
*.bak
